body
{
	background: url("../images/background-resultat-ok.jpg") fixed no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: 30%;

}
h1{margin-top: 0px;}
section{
	 position: relative;
    float: right;
    right: 1px;
    top: 30px;
}
iframe{
	width: 0;
    height: 0;
    border: 0;
}
table td, th{
	border-bottom: solid 1px rgba(23, 32, 42);
	text-align: center;
	width: 200px;
}

table{
	margin-top: 2px;
	margin-bottom: 2px;
}

#chartdiv{
	width: 550px;
    height: 550px;
}

.amcharts-chart-div>a{
	display: none!important;
}

#chartdiv .amcharts-main-div{
	margin-left: -50px;
}

#chartdivfmes, #chartdivfmep, 
#chartdivhs, #chartdivhp,
#chartdivks, #chartdivkp{
	width: 400px;
    height: 500px;
}
.local{
	position: absolute;
    top: 25%;
    right: 42%;
}