body
{
background: url("../images/3067048500_2_2_1.jpg") fixed no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

section{
	width: 850px;
	height: 430px;
	position: absolute;
	top: 20%;
	left: 40%;
	padding-left: 200px;
	
}

.note-camion{
	margin-left: 35px;
}

table{
	margin-top: 50px;
	

}

table td, th{
	border-bottom: solid 1px rgba(23, 32, 42);
	text-align: center;
	width: 200px;
}

.result{display:none;}
